<div class="grid gap-4 xl:gap-2 my-5 p-5 grid-cols-1 justify-items-center	">
  <% sps.each do |sp| %>
  <div data-controller="tooltip">
    <h1 class="text-xl my-3 bg-golden py-4 px-[2rem] sm:max-w-[300px] md:max-w-full md:min-w-auto text-wrap	sm:text-center md:text-left	"><%= sp.name %>  </h1>
    <div>
      <div class="grid gap-4 xl:gap-2 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 mb-[2rem]">
        <% sp.medical_services.where(member_id: nil).each do |ms| %>
          <div class="relative w-[300px] max-h-[125px] pl-[10px] min-w-min mx-0 my-auto border-b-2 border-gray-300 text-sm"><%= render_medical_service(ms) %></div>
        <% end %>
      </div>
      <!-- <div class="grid gap-4 xl:gap-2 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
        <% sp.medical_services.where.not(member_id: nil).order(:member_id).each do |ms| %>
          <div class="relative w-[300px] max-h-[125px] pl-[10px] min-w-min mx-0 my-auto border-b-2 border-gray-300 text-sm"><%= render_medical_service(ms) %></div>
        <% end %>
      </div> -->
      <div class="grid gap-4 xl:gap-2 grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4">
        <% selected_and_sorted_medical_services(sp).each_with_index do |ms, i| %>
            <% if i == 0 || ms.member != selected_and_sorted_medical_services(sp)[i-1].member %>
              <h2 class="col-span-full text-lg bg-golden py-2 px-[2rem]"><%= link_to "#{ms.member.academic_title} #{ms.member.name}", "echipa/#{ms.member.slug}" %></h2>
            <% end %>
            <div class="relative w-[300px] max-h-[125px] pl-[10px] min-w-min mx-0 my-auto border-b-2 border-gray-300 text-sm"><%= render_medical_service(ms) %></div> 
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
