<div class="medical-services-public">
  <%= render partial: "specialty_prices_nav" %>
  <div class="container mt-5 flex items-center flex-col">
    <h1 class="text-3xl"><%= @specialty.name %></h1>
    <div class="admin-elements services-index grid-masonry" >
      
        <div class="medical-services-list__specialty grid-masonry-list">
    
          <div class="grid-masonry-content">
            <h4><%= link_to @specialty.name, "specialitati-medicale/#{@specialty.slug}" %></h4>
            <div class="flex flex-col">
              <% @specialty.medical_services.select { |ms| ms.member == nil}.sort {|a, b| a.name <=> b.name}.each do |ms| %>
                <%= render ms %>
              <% end %>
            </div>
    
            <div class="flex flex-col">
              <% selected_and_sorted_medical_services(@specialty).each_with_index do |ms, i| %>
                <% if i == 0 || ms.member != selected_and_sorted_medical_services(@specialty)[i-1].member %>
                  <h5><%= link_to "#{ms.member.academic_title} #{ms.member.name}", "echipa/#{ms.member.slug}" %></h5>
                <% end %>
                <%= render ms %>
              <% end %>
            </div>
    
          </div>
    
    
        </div>
    </div>
  </div>
</div>