<% if access %>
  <div class="professions-container">
    <div class="professions-main">
      <h1>Profesii</h1>
      <div>
        <%= link_to "Adaugă profesie", 
        new_profession_path,
        class: 'btn-custom',
        data: { turbo_frame: 'prof-new'} %>
      </div>
      <%= turbo_frame_tag 'prof-new' %>

      <div class="professions-index">
        <%= turbo_stream_from "professions" %>
        <%= turbo_frame_tag "professions" do %>
          <%= render @professions %>
        <% end %>
      </div>
    </div>
      <div class="specialties-main">
        <h1>Specialități medicale</h1>
        <p>*pentru editare completă apasă <i class="fas fa-eye"></i></p>
        <div>
          <%= link_to "Adaugă specialitate medicală",
          new_specialty_path,
          class: 'btn-custom',
          data: { turbo_frame: 'spec-new'} %>
        </div>
        <%= turbo_frame_tag 'spec-new' %>

        <div class="specialties-index">
          <%= turbo_stream_from "specialties" %>
          <%= turbo_frame_tag "specialties" do %>
            <%= render @specialties %>
          <% end %>
        </div>
      </div>



      <div class="services-main">
        <h1>Servicii medicale</h1>
        <div>
          <%= link_to "#", data: {bs_toggle: "modal", bs_target: "#newServiceModal"}, class: 'btn-custom' do %>Adaugă serviciu medical<% end %>
        </div>
        <div class="services-index">
          <% @medical_services.each do |el| %>
            <span><%= el.name %></span>
            <span><%= el.price %></span>
            <span><%= link_to 'del', medical_service_path(el), data: {turbo_method: :delete, turbo_confirm: "Ești sigur că vrei să ștergi #{el.name}"} %></span>
          <% end %>
        </div>
        <div class="services-form">
          <%= render partial: 'medical_services/modal', locals: {modal_id: "newServiceModal", title: "Adaugă serviciu medical"} %>
        </div>
      </div>






    </div>
  <% else %>
  <%= no_access %>
<% end %>