<div class="professions-container">
  <div class="professions-main">
    <h1>Profesii</h1>
    <div>
      <%= link_to "Adaugă profesie",                              new_profession_path,
      class: 'btn-custom',
      data: { turbo_frame: 'prof-new'} %>
    </div>
    <%= turbo_frame_tag 'prof-new' %>

    <div class="professions-index">
      <%= turbo_stream_from "professions" %>
      <%= turbo_frame_tag "professions" do %>
        <%= render @professions %>
      <% end %>
    </div>
  </div>







  <div class="specialties-main">
    <div class="specialties-form">
      <p>Specialitate medicală nouă</p>
      <%= simple_form_for @specialty do |f| %>
        <%= f.input :name %>
        <%= f.rich_text_area :description %>
        <%= f.submit 'Trimite' %>
      <% end %>
    </div>
    <div class="specialties-index">

    </div>
  </div>
</div>