<div class="modern-admin-navbar" id="admin-navbar-toggle" data-sidemenu-toggle-target="toggle">
  <div class="navbar-left">
    <button class="sidebar-toggle" data-action="click->sidemenu-toggle#toggle">
      <svg class="hamburger-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </button>
    <%= link_to dashboard_path, class: 'navbar-brand' do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
        <path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z" />
        <path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z" />
      </svg>
      <span>Spinal Care Admin</span>
    <% end %>
  </div>
  
  <div class="navbar-right">
    <div class="user-info">
      <div class="user-avatar">
        <%= current_user.email.first.upcase %>
      </div>
      <div class="user-details">
        <span class="user-email"><%= current_user.email %></span>
        <span class="user-role">
          <%= current_user.god_mode ? 'God Mode' : (current_user.admin ? 'Admin' : 'User') %>
        </span>
      </div>
    </div>
    <%= link_to root_path, class: 'navbar-btn', title: 'Vezi site-ul public' do %>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
      </svg>
    <% end %>
  </div>
</div>