<div class="admin-menu" data-sidemenu-toggle-target="toggle">
  <%= current_user.email %>
  <p id="admin-menu-title">App admin</p>
  <div class="admin-menu-index">
    <p><%= link_to 'Pagina publică', root_path %></p>
    <p><%= link_to 'Admins & Gods', dashboard_users_path %></p>
    <p><%= link_to 'Personal', dashboard_personal_path %></p>
    <p><%= link_to 'Profesii', admin_professions_path %></p>
    <p><%= link_to 'Specialități medicale', admin_specialties_path %></p>
    <p><%= link_to 'Servicii medicale', admin_medical_services_path %></p>
    <p><%= link_to 'Info pacient', dashboard_info_pacient_path %></p>
    <p><%= link_to 'Recenzii' %></p>
    <p>
      <% if current_user %>
          <%= link_to 'Ieșire', destroy_user_session_path, data: {turbo_method: :delete} %>
      <% end %>
    </p>
    
  </div>
</div>