<div class="no-access">
  <h1>Nu aveți drepturi de administrare pentru această pagină!</h1>
  <p>Înapoi la <%= link_to 'pagina publică', root_path %> sau</p>
  <p>dacă sunteți admin puteți modifica: <%= link_to 'personal', dashboard_personal_path %> / <%= link_to 'Profesii', admin_professions_path %> / <%= link_to 'Specialități medicale', admin_specialties_path %> /  <%= link_to 'Servicii medicale', admin_medical_services_path %>.</p>
</div>