<div class="side-menu" data-sidemenu-toggle-target="toggle">
  <div class="side-menu-logo">
    <%#= link_to root_path do %>
      <%#= image_tag('logo2-color.png', alt: 'spinal care') %>
    <%# end %>
  </div>
  <div class="side-menu-options">
    <ul id="side-menu-options">
      <li><%= link_to 'Acasă', root_path %></li>
      <li><%= link_to 'Echipa medicală', echipa_path %></li>
      <li><%= link_to 'Specialități medicale', specialitati_medicale_path %></li>
      <li><%= link_to 'Servicii medicale', servicii_medicale_path %></li>
      <!-- <li><%#= link_to 'Aparatura medicală' %></li> -->
      <li>
        <button type="button" class="btn-nude text-warning" data-bs-toggle="modal" data-bs-target="#promoModal">
          Programări
        </button><div></div>
      </li>
      <li><%= link_to 'Info pacient', info_pacient_index_path %></li>
      <% if current_user %>
        <li>
          <button type="button" class="btn-nude" data-bs-toggle="modal" data-bs-target="#promoModal">
            Promo %
          </button>
        </li>
      <% end %>
      <!-- <li><%#= link_to 'Despre noi' %></li> -->
      <% if current_user %>
        <li id="exitLink">
          <%= link_to 'Ieșire', destroy_user_session_path, data: {turbo_method: :delete} %>
        </li>
      <% end %>
      </li>
    </ul>
  </div>
</div>