<div class="side-menu" data-sidemenu-toggle-target="toggle">
  <div class="side-menu-logo">
    <%= link_to root_path do %>
      <%= image_tag('logo2-color.png') %>
    <% end %>
  </div>
  <div class="side-menu-options">
    <ul>
      <li><%= link_to 'Echipa', persons_path %></li>
      <li><%= link_to 'Specialități medicale' %></li>
      <li><%= link_to 'Aparatura medicală' %></li>
      <li><%= link_to 'Pacient' %></li>
      <li><%= link_to 'Despre noi' %></li>
      <li><%= link_to 'Admin', admin_path %></li>
      <li>
        <% if current_user %>
          <%= link_to 'Ieșire', destroy_user_session_path, data: {turbo_method: :delete} %>
        <% end %>
      </li>
    </ul>
  </div>
</div>