<div class="modern-side-menu" data-sidemenu-toggle-target="toggle">
  <div class="side-menu-header">
    <%= link_to root_path, class: 'side-menu-logo' do %>
      <%= image_tag "logo-signature-v6.png", alt: 'Spinal Care' %>
    <% end %>
  </div>

  <nav class="side-menu-nav">
    <ul class="side-nav-list" id="side-menu-options">
      <li class="side-nav-item <%= path_helper == '' ? 'active' : '' %>">
        <%= link_to root_path, class: 'side-nav-link' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z" />
          </svg>
          <span>Acasă</span>
        <% end %>
      </li>

      <li class="side-nav-item <%= path_helper == 'echipa' ? 'active' : '' %>">
        <%= link_to echipa_path, class: 'side-nav-link' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z" />
          </svg>
          <span>Echipa medicală</span>
        <% end %>
      </li>

      <li class="side-nav-item <%= path_helper == 'specialitati-medicale' ? 'active' : '' %>">
        <%= link_to specialitati_medicale_path, class: 'side-nav-link' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
          </svg>
          <span>Departamente</span>
        <% end %>
      </li>

      <li class="side-nav-item <%= path_helper == 'servicii-medicale' ? 'active' : '' %>">
        <%= link_to servicii_medicale_path, class: 'side-nav-link' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M6 2a2 2 0 00-2 2v12a2 2 0 002 2h8a2 2 0 002-2V7.414A2 2 0 0015.414 6L12 2.586A2 2 0 0010.586 2H6zm5 6a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V8z" clip-rule="evenodd" />
          </svg>
          <span>Servicii medicale</span>
        <% end %>
      </li>

      <li class="side-nav-item">
        <%= link_to info_pacient_index_path, class: 'side-nav-link' do %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z" clip-rule="evenodd" />
          </svg>
          <span>Info pacient</span>
        <% end %>
      </li>

      <li class="side-nav-divider"></li>

      <li class="side-nav-item">
        <button type="button" class="side-nav-link side-nav-cta" data-bs-toggle="modal" data-bs-target="#promoModal">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
            <path d="M10 2a5 5 0 00-5 5v2a2 2 0 00-2 2v5a2 2 0 002 2h10a2 2 0 002-2v-5a2 2 0 00-2-2H7V7a3 3 0 015.905-.75 1 1 0 001.937-.5A5.002 5.002 0 0010 2z" />
          </svg>
          <span>Programări online</span>
        </button>
      </li>

      <% if current_user %>
        <li class="side-nav-item">
          <button type="button" class="side-nav-link" data-bs-toggle="modal" data-bs-target="#promoModal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5 2a1 1 0 011 1v1h1a1 1 0 010 2H6v1a1 1 0 01-2 0V6H3a1 1 0 010-2h1V3a1 1 0 011-1zm0 10a1 1 0 011 1v1h1a1 1 0 110 2H6v1a1 1 0 11-2 0v-1H3a1 1 0 110-2h1v-1a1 1 0 011-1zM12 2a1 1 0 01.967.744L14.146 7.2 17.5 9.134a1 1 0 010 1.732l-3.354 1.935-1.18 4.455a1 1 0 01-1.933 0L9.854 12.8 6.5 10.866a1 1 0 010-1.732l3.354-1.935 1.18-4.455A1 1 0 0112 2z" clip-rule="evenodd" />
            </svg>
            <span>Promo %</span>
          </button>
        </li>
        <li class="side-nav-divider"></li>
        <li class="side-nav-item" id="exitLink">
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'side-nav-link side-nav-logout' do %>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z" clip-rule="evenodd" />
            </svg>
            <span>Ieșire</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>

  <div class="side-menu-footer">
    <p class="side-menu-contact">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" />
      </svg>
      <a href="tel:0374554344">0374 554 344</a>
    </p>
    <div class="side-menu-social">
      <%= link_to 'https://www.facebook.com/SpinalCareBacau', target: '_blank', rel: 'noopener', class: 'social-link' do %>
        <i class="fab fa-facebook-f"></i>
      <% end %>
      <%= link_to 'https://www.instagram.com/spinalcarebacau', target: '_blank', rel: 'noopener', class: 'social-link' do %>
        <i class="fab fa-instagram"></i>
      <% end %>
    </div>
  </div>
</div>