<article class="modern-specialty-card" data-specialty="<%= specialty.slug %>">
  <%= link_to "specialitati-medicale/#{specialty.slug}", class: 'specialty-card-link' do %>
    <div class="specialty-card-inner">
      <div class="specialty-icon">
        <% if specialty.photo.attached? %>
          <%= cl_image_tag(specialty.photo.key, quality: 70, width: 200, crop: :fit, fetch_format: :auto) %>
        <% else %>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path fill-rule="evenodd" d="M4.5 3.75a3 3 0 00-3 3v10.5a3 3 0 003 3h15a3 3 0 003-3V6.75a3 3 0 00-3-3h-15zm9 4.5a.75.75 0 00-1.5 0v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V8.25z" clip-rule="evenodd" />
          </svg>
        <% end %>
      </div>

      <div class="specialty-info">
        <h3 class="specialty-name"><%= specialty.name %></h3>
        
        <% if specialty.members.where(is_active: true).any? %>
          <div class="specialty-members-count">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
              <path d="M10 9a3 3 0 100-6 3 3 0 000 6zM6 8a2 2 0 11-4 0 2 2 0 014 0zM1.49 15.326a.78.78 0 01-.358-.442 3 3 0 014.308-3.516 6.484 6.484 0 00-1.905 3.959c-.023.222-.014.442.025.654a4.97 4.97 0 01-2.07-.655zM16.44 15.98a4.97 4.97 0 002.07-.654.78.78 0 00.357-.442 3 3 0 00-4.308-3.517 6.484 6.484 0 011.907 3.96 2.32 2.32 0 01-.026.654zM18 8a2 2 0 11-4 0 2 2 0 014 0zM5.304 16.19a.844.844 0 01-.277-.71 5 5 0 019.947 0 .843.843 0 01-.277.71A6.975 6.975 0 0110 18a6.974 6.974 0 01-4.696-1.81z" />
            </svg>
            <%= specialty.members.where(is_active: true).count %> <%= specialty.members.where(is_active: true).count == 1 ? 'specialist' : 'specialiști' %>
          </div>
        <% end %>
      </div>

      <div class="specialty-arrow">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
          <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  <% end %>
</article>
