<div class="about-container">
  <div class="about-container__main">
    <%= link_to '˿ Specialități medicale', specialitati_medicale_path, class: 'btn btn-custom', id: 'about-container__link-back' %>
    <%= link_to "my link", :back %>
    <h1><%= @specialty.name %></h1>
    <div class="about-container__specialty"><%= @specialty.description %></div>
    <div class="about-container__specialists">
      <h2>Medici <%= @specialty.name.downcase %> </h2>
      <div class="about-container__specialists-index">
        <% @specialty.belongs_to_specialty.each_with_index do |member| %>
          <%= render partial: 'members/member_card', locals: {m: member, i: nil, not_animated: 'not_animated', no_grid_area: 'no_grid_area'} %>
        <% end %>
      </div>
    </div>
    <%= image_tag('wave-home-page.svg', id: 'about-container__specialty__wave') %>
  </div>
</div>
