<%= content_for :meta_title, "#{@specialty.name} Spinal Care Bacau" %>
<%= content_for :meta_description, description_gsub(@specialty)[0, 160] %>

<div class="about-specialty-container">
  <div class="about-specialty-container__main">
    <div class="btn-group dropdown-center">
      <button type="button" class="btn-drop dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Alte specialități medicale
      </button>
      <ul class="dropdown-menu">
        <% @all_specialties.each do |spec| %>
          <li><%= link_to spec.name, "#{spec.slug}", class: 'dropdown-item btn-color' %></li>
        <% end %>
      </ul>
    </div>
    <h1><%= @specialty.name %></h1>
    <div class="about-specialty-container__specialty"><%= @specialty.description %></div>
    <div class="about-specialty-container__specialists">
      <%= action_btn("Programează-te!", "btn-custom", "btn-action") %>
      <!-- <h2>Medici <%= @specialty.name.downcase %> </h2> -->
      <div class="about-specialty-container__specialists-index">
        <% @specialty.members_belonging_to_specialty.each_with_index do |member| %>
          <%= render partial: 'members/member_card', locals: {m: member, i: nil, not_animated: 'not_animated', no_grid_area: 'no_grid_area'} %>
        <% end %>
      </div>
    </div>
    <div data-controller="tooltip" class="about-medical-prices admin-elements services-main section-main">
      <!-- <h3>Tarife practicate <%= "#{@specialty.name.downcase}" %></h3> -->
      
      <div class="medical-services-list__specialty">
        <% selected_and_sorted_medical_services(@specialty).each_with_index do |ms, i| %>
          <div class="medical-services-list__specialist">
            <% if i == 0 || ms.member != selected_and_sorted_medical_services(@specialty)[i-1].member %>
              <h5><%= link_to "#{ms.member.academic_title} #{ms.member.name}", "../echipa/#{ms.member.slug}" %></h5>
            <% end %>
            <%= render ms %>
          </div>
        <% end %>
      </div>
      <div class="medical-services-list__specialty">
        <h5>Tarife generale</h5>
        <% @specialty.medical_services.select { |ms| ms.member == nil}.sort {|a, b| a.name <=> b.name}.each do |ms| %>
          <%= render ms %>
        <% end %>
      </div>
    </div>
    <%= image_tag('wave-home-page.svg', id: 'about-specialty-container__specialty__wave', alt: 'spinal care wave') %>
  </div>
</div>
