<div class="about-container">
  <div class="about-container__main">
    <%= link_to '˿ Specialități medicale', specialitati_medicale_path, class: 'btn btn-custom', id: 'about-container__link-back' %>
    <h1><%= @specialty.name %></h1>
    <div class="about-container__specialty"><%= @specialty.description %></div>
    <div class="about-container__specialists">
      <h2>Medici <%= @specialty.name.downcase %> </h2>
      <div class="about-container__specialists-index">
        <% @specialty.belongs_to_specialty.each_with_index do |medic| %>
          <%= link_to member_path(medic) do  %>
            <div class="member-card member-index" data-identity="<%= full_name(medic) %>" data-profession="<%= medic.profession.name %>" data-specialty="<%= medic.specialty.name if medic.specialty %>">
              <div class="member-card__back"></div>
              <div class="member-card__photo-holder" style="background-image: url('<%= cl_image_path medic.photo.key if medic.photo.key.present? %>');"></div>
                <div class="member-card-info" >
                  <p><%= full_name(medic) %></p>
                  <span><%= medic.profession.name %></span>
                  <% unless medic.specialty.nil? %>
                    <%= link_to "../specialitati-medicale/#{medic.specialty.slug}" do %>
                      <%= medic.specialty.name %>
                    <% end %>
                  <% end %>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <%= image_tag('wave-home-page.svg', id: 'about-container__specialty__wave') %>
  </div>
</div>
