<div class="main-landing second-landing">
  <%= image_tag('shape-svg-1.svg', id: 'shape-svg-1', data: { controller: 'animation', action: 'scroll@window->animation#svgscroll'}) %>
  <%= image_tag('shape-svg-2.svg', id: 'shape-svg-2', data: { controller: 'animation', action: 'scroll@window->animation#svgscroll'}) %>
  <div id="main-image" class="second-image" data-controller="animation" data-action="scroll@window->animation#svgscroll">
    <%= image_tag('sec-main-photo.png') %>
  </div>
  <div id="main-motto" data-controller="animation" data-action="scroll@window->animation#svgscroll">
    <p>"Fiecare pacient <span>care pleacă cu</span> zâmbetul pe buze <span>ne face să ne simțim</span> <span>împliniți"</span><br><span id="signature"><%= full_name(@kineto_signature) %>, <%= @kineto_signature.profession.name %></span></p>
  </div>
</div>