<div class="main-attractions">
  <div id="main-attractions-motto">
    <p>"Spinal Care este împlinirea visului unui tânăr care și-a dorit o lume fără durere"</p>
  </div>
  <div id="main-attractions-cards">
    <% cards.each_with_index do |c, i| %>
      <div class="info-card" data-controller="animation" data-action="scroll@window->animation#svgscroll" style="transition: <%=i + 0.5%>s">
        <div class="info-card_icon" >
          <%= c[:icon].html_safe %>
        </div>
        <div class="info-card_title"><p><%= c[:title] %> </p></div>
        <div class="info-card_main">
          <p><%= c[:content] %> </p>
        </div>
        <% if c[:type] == 'link_to' %>
          <%= link_to c[:link_text], c[:link] %>
        <% elsif c[:type] == 'button_tag' %>
          <%= button_tag c[:link_text], class: 'btn-nude', data: { bs_toggle: "modal", bs_target: "#contactModal"} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
