<div class="main-specialities">
<% if current_page?(controller: 'pages', action: 'home') %>
  <div class="main-specialities-intro">
    <p><span>Specialități medicale</span><br> în cadrul <span>clinicii Spinal Care</span></p>
  </div>
<% end %>

  <div class="main-specialities-index">
    <% @specialties.each_with_index do |sp, i| %>
      <%= link_to "specialitati-medicale/#{sp.slug}" do %>
        <div class="speciality-card" style="transition: <%=i%>s;" data-controller="animation" data-action="scroll@window->animation#svgscroll">
          <div class="specialty-card__cover__photo">
            <%= cl_image_tag(sp.photo.key.present? ? sp.photo.key : "med-gen_t4zqmq.svg") %>
          </div>
          <div class="specialty-card__cover-name">
            <% sp[:name].split(Regexp.union([' ', '-']), 3).each do |w| %>
              <%= tag.p(w) %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= image_tag('wave-home-page.svg') %>
</div>