<div class="main-specialities">
<% if current_page?(controller: 'pages', action: 'home') %>
  <div class="main-specialities-intro">
    <p><span>Specialități medicale</span><br> în cadrul <span>clinicii Spinal Care</span></p>
  </div>
<% end %>

  <div class="main-specialities-index">
    <% @specialties.each_with_index do |sp, i| %>
      <%= link_to "specialitati-medicale/#{sp.slug}" do %>
        <div class="speciality-card" style="transition: <%=i + 0.5%>s;" data-controller="animation" data-action="scroll@window->animation#svgscroll">
          <div class="specialty-card__cover" style="background-image: url('<%=image_url 'logo_sm.png' %>')"></div>
            <p><%= sp[:name] %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= image_tag('wave-home-page') %>
</div>