<div class="main-attractions" data-controller="contact">
  <div id="main-attractions-motto">
    <p>De ce Spinal Care?</p>
  </div>
  <div id="main-attractions-cards">
    <% cards.each_with_index do |c, i| %>
      <div class="info-card" data-controller="animation" data-action="scroll@window->animation#svgscroll" style="transition: <%=i + 0.5%>s">
        <div class="info-card_icon" >
          <%= c[:icon].html_safe %>
        </div>
        <div class="info-card_title"><p><%= c[:title] %> </p></div>
        <div class="info-card_main">
          <p><%= c[:content] %> </p>
        </div>
        <% if c[:type] == 'link_to' %>
          <%= link_to c[:link_text], c[:link] %>
        <% elsif c[:type] == 'button_tag' %>
          <%= button_tag c[:link_text], class: 'btn-nude', data: {action: "click->contact#contact"} %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= render 'pages/home_partials/contact_modal' %>
</div>