<section class="schroth">
  <%= title('Terapia Schroth', nil, nil) %>
  <div class="main-landing schroth-main">
    <div class="main-image">
      <%= cl_image_tag("cabinets/www.sysphotodesign.ro_181_zv23ju.webp", :quality=>60, :width=>1000, :crop=>"scale")  %>
    </div>
    <div class="main-motto">
      <ul>
        <li><section class="spinal-care-description schroth-description">
          <p>Clinica Spinal Care este una din puținele clinici de recuperare din România care are specialiști recunoscuți internațional în Terapia Schroth, una din cele mai eficiente metode de tratare a deviațiilor de coloană și torace.</p>
        </section></li>
      </ul>
    </div>
  </div>
  <div class="schroth-title"><h3>Fiziokinetoterapeuți specializați în terapia Schroth</h3></div>
  <article class="landing-schroths">
    <% @schroths.each_with_index do |m, i| %>
          <%= render partial: "members/member_card", locals: {m: m, i: i, not_animated: nil, no_grid_area: 'no_grid_area'} %>
        <% end %>
  </article>
  <div class="main-landing schroth-main">
    <div class="main-image main-image-reverse">
      <%= cl_image_tag("cabinets/www.sysphotodesign.ro_112_knyp6k.webp", :quality=>60, :width=>1000, :crop=>"scale")  %>
    </div>
    <div class="main-motto main-motto-reverse">
      <ul>
        <li><section class="spinal-care-description schroth-description">
          <p>Specialiștii noștri sunt ajutați în munca lor de aparatură medicală performantă de ultimă generație care accelerează repararea și regenerarea organismului.</p>
        </section></li>
      </ul>
    </div>
  </div>
  <div class="schroth-title"><h3>Fiziokinetoterapeuți</h3></div>
  <article class="landing-schroths l-s-extended">
    <% @kinetos_to_show.each_with_index do |m, i| %>
          <%= render partial: "members/member_card", locals: {m: m, i: i, not_animated: nil, no_grid_area: 'no_grid_area'} %>
        <% end %>
  </article>
  <%= see_the_team(Profession.find(2).slug) %>
</section>