<%= content_for :meta_title, 'Informări pentru pacient Spinal Care Bacău' %>
<%= content_for :meta_keywords, @facts.pluck(:name).sample(4).join(', ') %>
<div class="pacient-section__wall-photo" style="background-image: url('<%= cl_image_path("www.sysphotodesign.ro_10_w9nw5g.webp", :quality=>80, :fetch_format=>:webp, :width=>1000) %>');"></div>
<div class="pacient-section">
  <h1>Spinal Care Bacău</h1>
  <h2>Clinică medicală</h2>
  <h3>Mâinile care te pun pe picioare!</h3>
  <div class="pacient-section__info ">
    <%= link_to "info-pacient/#{@facts[0].slug}" do %>
      <h3 class="cursor-pointer !bg-orange-600 hover:!bg-orange-700 !text-white p-2 rounded-lg">Informații pentru pacient</h3>
    <% end %>
  <div class="mt-5">
    <h2 class="mb-5">Ambulatoriu de specialitate</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.033572862404!2d26.90179677747024!3d46.56680140919857!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b56fd886e18b1f%3A0xd3e2c4f39a7d4311!2sClinica%20Spinal%20Care%20Bac%C4%83u!5e0!3m2!1sen!2sro!4v1747072735626!5m2!1sen!2sro" width="400" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width: 100%; min-width: 360px; height: 30dvh; margin: 0 auto"></iframe>
  </div>
  <div class="mt-5">
    <h2 class="mb-5">Spitalizare de zi</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2743.0364318582992!2d26.903044276958052!3d46.56674487111334!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b56f892c6878af%3A0xc8779ea05dcef568!2sSpinal%20Care%20Medicina%20interna%20Neurologie!5e0!3m2!1sro!2sro!4v1749714810008!5m2!1sro!2sro" width="400" height="300" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" style="width: 100%; min-width: 360px; height: 30dvh; margin: 0 auto"></iframe>
  </div>
  <div class="!bg-orange-600 !text-white p-2 rounded-lg mt-5 fs-6">
    <p>Audiențe manager clinică în fiecare zi de marți 12:30-13:30. Programare: 0374554344 / anca.seto@spinalcare.ro</p>
    <p>Sugestii, reclamații? pacient@spinalcare.ro</p>
    <p>Vrei să faci parte din echipa noastră? Trimite un CV la cv@spinalcare.ro</p>
  </div>
    <div class="pacient-section__info-partners">
      <h2>Parteneriate</h2>
      <div class="pacient-section__info-partners-index">
        <%= cl_image_tag("cnas_large_h4m1m7.webp", :quality=>"auto:good", :width=>150) %>
        <%= cl_image_tag("medicover_n0pidy.webp", :quality=>"auto:good", :width=>150) %>
        <%= cl_image_tag("signal-iduna_rg0bxw.webp", :quality=>"auto:good", :width=>150) %>
        <%= cl_image_tag("omniasig_uzvywg.webp", :quality=>"auto:good", :width=>150) %>
        <%= cl_image_tag("Allianz_Tiriac_ai_l8lo4z.webp", :quality=>"auto:good", :width=>150) %>
        <%= cl_image_tag("logo-vertical-Regina-Maria_agewz5.webp", :quality=>"auto:good", :width=>150) %>
      </div>
    </div>
  </div>
</div>