<div class="modal fade medicines-consumption-modal" id="<%= modal_id %>" tabindex="-1" aria-labelledby="<%= modal_id %>Label" aria-hidden="true" data-turbo="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-content">
          <div class="modal-icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
              <path d="M11.644 1.59a.75.75 0 01.712 0l9.75 5.25a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.712 0l-9.75-5.25a.75.75 0 010-1.32l9.75-5.25z" />
              <path d="M3.265 10.602l7.668 4.129a2.25 2.25 0 002.134 0l7.668-4.13 1.37.739a.75.75 0 010 1.32l-9.75 5.25a.75.75 0 01-.71 0l-9.75-5.25a.75.75 0 010-1.32l1.37-.738z" />
            </svg>
          </div>
          <div class="modal-title-section">
            <h5 class="modal-title" id="<%= modal_id %>Label">
              <%= new ? 'Consum nou' : 'Modifică consum' %>
            </h5>
            <p class="modal-subtitle">
              <%= new ? 'Adaugă o înregistrare nouă de consum' : 'Actualizează datele de consum' %>
            </p>
          </div>
        </div>
        <button type="button" class="modal-close" data-bs-dismiss="modal" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'medicines_consumptions/form', locals: { medicines_consumption: medicines_consumption } %>
      </div>
    </div>
  </div>
</div>
