<%= simple_form_for(profession, id: (profession.id ? dom_id(profession, :edit) : dom_id(Profession.new))) do |f| %>
  <% if profession.errors.any? %>
  <div class="error-message">
    <%= profession.errors.full_messages.to_sentence.capitalize %>
  </div>
  <% end %>
  <%= f.input :name, label: false, placeholder: 'profesie', input_html: { autofocus: true } %>
  <%= f.input :order, hint: 'poziția în pagina index cu echipa medicală', label: false, collection: 1...Profession.count + 1, prompt: 'alegerea ordinea afișării în pagină' %>
  <%= f.input :has_specialty, label: 'profesie medicală?' %>
  <button class="btn-custom btn-green btn-crud"><i class="far fa-paper-plane"></i></button>
  <%= link_to dashboard_profesii_specialitati_path, class: 'btn-custom btn-red btn-crud' do %>
    <i class="fas fa-ban"></i>
  <% end %>
<% end %>