<%= turbo_frame_tag "user_journey" do %>
  <div class="journey-section">
    <!-- Journey Overview Cards -->
    <div class="journey-cards">
      <div class="journey-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="journey-icon primary">
          <path fill-rule="evenodd" d="M12 1.5a.75.75 0 01.75.75V4.5a.75.75 0 01-1.5 0V2.25A.75.75 0 0112 1.5zM5.636 4.136a.75.75 0 011.06 0l1.592 1.591a.75.75 0 01-1.061 1.06l-1.591-1.59a.75.75 0 010-1.061zm12.728 0a.75.75 0 010 1.06l-1.591 1.592a.75.75 0 01-1.06-1.061l1.59-1.591a.75.75 0 011.061 0z" clip-rule="evenodd" />
        </svg>
        <div>
          <div class="journey-label">Total Click-uri</div>
          <div class="journey-value"><%= number_with_delimiter(@total_clicks) %></div>
        </div>
      </div>

      <div class="journey-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="journey-icon success">
          <path d="M4.5 6.375a4.125 4.125 0 118.25 0 4.125 4.125 0 01-8.25 0zM14.25 8.625a3.375 3.375 0 116.75 0 3.375 3.375 0 01-6.75 0z" />
        </svg>
        <div>
          <div class="journey-label">Click-uri Unice/Utilizator</div>
          <div class="journey-value"><%= @unique_visitors > 0 ? (@total_clicks.to_f / @unique_visitors).round(1) : 0 %></div>
        </div>
      </div>

      <div class="journey-card">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="journey-icon warning">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 01.67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 11-.671-1.34l.041-.022z" clip-rule="evenodd" />
        </svg>
        <div>
          <div class="journey-label">Conversii</div>
          <div class="journey-value"><%= number_with_delimiter(@conversions_count) %></div>
        </div>
      </div>
    </div>

    <!-- Navigation Clicks Table -->
    <div class="nav-clicks-container">
      <h4 class="journey-section-title">Top Click-uri Navigație</h4>
      <table class="nav-clicks-table">
        <thead>
          <tr>
            <th>Element</th>
            <th>Locație</th>
            <th>Click-uri</th>
            <th>% din Total</th>
          </tr>
        </thead>
        <tbody>
          <% @navigation_clicks.each do |click| %>
            <tr>
              <td class="click-name">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="click-icon">
                  <path fill-rule="evenodd" d="M6.672 1.911a1 1 0 10-1.932.518l.259.966a1 1 0 001.932-.518l-.26-.966zM2.429 4.74a1 1 0 10-.517 1.932l.966.259a1 1 0 00.517-1.932l-.966-.26zm8.814-.569a1 1 0 00-1.415-1.414l-.707.707a1 1 0 101.415 1.415l.707-.708zm-7.071 7.072l.707-.707A1 1 0 003.465 9.12l-.708.707a1 1 0 001.415 1.415zm3.2-5.171a1 1 0 00-1.3 1.3l4 10a1 1 0 001.823.075l1.38-2.759 3.018 3.02a1 1 0 001.414-1.415l-3.019-3.02 2.76-1.379a1 1 0 00-.076-1.822l-10-4z" clip-rule="evenodd" />
                </svg>
                <%= click['name'] %>
              </td>
              <td class="click-path"><%= truncate(click['landing_page'], length: 40) %></td>
              <td class="click-count"><%= number_with_delimiter(click['click_count']) %></td>
              <td class="click-percent"><%= @total_clicks > 0 ? ((click['click_count'].to_f / @total_clicks) * 100).round(1) : 0 %>%</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <!-- User Journey Paths -->
    <div class="journey-paths-container">
      <h4 class="journey-section-title">Parcursuri Populare</h4>
      <div class="journey-paths">
        <% @user_journey_paths.each_with_index do |path, index| %>
          <div class="journey-path-item">
            <div class="path-index"><%= index + 1 %></div>
            <div class="path-details">
              <div class="path-pages">
                <% path['pages'].each_with_index do |page, i| %>
                  <span class="path-page">
                    <%= page %>
                    <% if i < path['pages'].length - 1 %>
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="arrow-icon">
                        <path fill-rule="evenodd" d="M5 10a.75.75 0 01.75-.75h6.638L10.23 7.29a.75.75 0 111.04-1.08l3.5 3.25a.75.75 0 010 1.08l-3.5 3.25a.75.75 0 11-1.04-1.08l2.158-1.96H5.75A.75.75 0 015 10z" clip-rule="evenodd" />
                      </svg>
                    <% end %>
                  </span>
                <% end %>
              </div>
              <div class="path-stats">
                <%= number_with_delimiter(path['user_count']) %> utilizatori · <%= ((path['user_count'].to_f / @unique_visitors) * 100).round(1) %>%
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Conversion Actions -->
    <% if @conversions_count > 0 %>
      <div class="conversions-container">
        <h4 class="journey-section-title">Top Acțiuni de Conversie</h4>
        <div class="conversions-grid">
          <% @top_conversion_clicks.each do |conversion| %>
            <div class="conversion-card">
              <div class="conversion-icon-wrapper">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="conversion-icon">
                  <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                </svg>
              </div>
              <div class="conversion-details">
                <div class="conversion-name"><%= conversion['name'] %></div>
                <div class="conversion-stats"><%= number_with_delimiter(conversion['click_count']) %> conversii</div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
