<!DOCTYPE html>
<html lang="ro">
  <head>
    <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TVX66CLN');</script>
  <!-- End Google Tag Manager -->
  <!-- Google ads tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-16853789356">
  </script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-16853789356');
  </script>
  <!-- Google ads tag (gtag.js) -->
  <!-- Google tag (gtag.js) --> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2M3F6CZYYF"></script> <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-2M3F6CZYYF'); </script>
  <!-- Google tag (gtag.js) --> 
    <meta charset="UTF-8">
    <title><%= meta_title %></title>
    <link rel="canonical" href="https://spinalcare.ro">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='description' content="<%= meta_description %>" >
    <meta name='keywords' content="<%= "#{meta_keywords} #{MedicalService.pluck(:name).join(', ')}" %>">
    <meta name="ahrefs-site-verification" content="42887ccc32d8cfecbea7a49857b20d58078267bb98d6a66d1da75ddb54cbe7ec">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '623596673860745');
      fbq('track', 'PageView');
      </script>
      <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=623596673860745&ev=PageView&noscript=1"/></noscript>
      <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/ahoy.js@0.4.2/dist/ahoy.min.js" %>
      <script>
        ahoy.configure({
          visitsUrl: "/ahoy/visits",
          eventsUrl: "/ahoy/events"
        });
        ahoy.trackView();
      </script>
  </head>

  <body data-controller="vh sidemenu-toggle adminLink contact click-tracker" data-action="scroll@window->sidemenu-toggle#close">
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TVX66CLN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  
      <%= render "shared/before_nav" %>
      <%= render "shared/navbar" %>
      <%= render "shared/sidemenu" %>
      <%= render "shared/sidecover" %>
      <%= render "shared/gdpr" %>
      <%= render 'pages/home_partials/contact_modal' %>
      <%= render "shared/flashes" %>
      <%= render "modals/promo_modal" %>
      <div class="main">
        <%= yield %>
      </div>
      <%= render "shared/new_footer" %>
  </body>
</html>
