<div class="form" data-controller="memberFormSpecialty" id="med-prof" data-medical-professions="<%= Profession.all.select {|el| el.has_specialty}.pluck(:name)%>">
  <%= simple_form_for(member, id: (member.id ? dom_id(member, :edit) : dom_id(Member.new))) do |f|%>
    <% if member.errors.any? %>
    <div class="error-message">
      <%= member.errors.full_messages.to_sentence.capitalize %>
    </div>
    <% end %>
    <%= f.input :academic_title, label: false, placeholder: 'titlu academic' %>
    <%= f.input :first_name, label: false, placeholder: 'Prenume' %>
    <%= f.input :last_name, label: false, placeholder: 'Nume' %>
    <%= f.input :photo, label: false %>
    <%= f.association :profession, input_html: { data: { memberFormSpecialty_target: 'profession', action: 'change->memberFormSpecialty#change'}}, label: false, prompt: 'Alege profesia' %>
    <%= f.input :doctor_grade, collection: ['generalist', 'rezident', 'primar', 'specialist'], label: false, prompt: 'alege gradul profesional', input_html: { data: {memberFormSpecialty_target: 'grade'}}%>
    <%= f.association :specialty, label: false, input_html: { data: {memberFormSpecialty_target: 'specialty'}}, prompt: 'Alege specialitatea' %>
    <%= f.input :has_own_page, label: "Are pagină dedicată?" %>
    <%= f.rich_text_area :description, placeholder: 'Bio sau alte info despre membrul echipei Spinal Care' %>
    <br>
    <%= f.submit 'Salvează', class: 'btn-custom btn-green' %>
  <% end %>
</div>