<div class="member-card <%= not_animated %> <%= no_grid_area %>"
  style="transition: <%= i + 0.5 unless i.nil? %>s"
  data-controller="animation"
  data-action="scroll@window->animation#svgscroll"
  data-identity="<%= full_name(m) %>" data-profession="<%= m.profession.name %>" data-specialty="<%= m.specialty.name if m.specialty %>">
  <%= link_to colectiv_path(m.slug) do %>
    <div class="member-card__main">
      <div class="member-card__photo-holder" style="background-image: url('<%= cl_image_path m.photo.key if m.photo.key.present? %>');"></div>
      <div class="member-card-info">
        <p class="member-card-info__name"><%= full_name(m) %></p>
        <div class="member-card-info__profession">
            <%= link_to "../specialitati-medicale/#{m.specialty.slug unless m.specialty.nil? }" do %>
              <p class="member-card__specialty-name"><%= m.profession.name %> <%= m.specialty.name unless m.specialty.nil? %></p>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
