<div class="member-card <%= not_animated %> <%= no_grid_area %>"
  style="transition: <%= i + 0.5 unless i.nil? %>s"
  data-controller="animation"
  data-action="scroll@window->animation#svgscroll"
  data-identity="<%= full_name(m) %>" data-profession="<%= m.profession.name %>" data-specialty="<%= m.specialty.name if m.specialty %>">
  <%= link_to colectiv_path(m.slug) do %>
    <div class="member-card__main" title="<%= m.academic_title %> <%= full_name(m) %>">
      <div class="member-card__photo-holder" style="background-image: url('<%= cl_image_path(m.photo.key, :quality=>60, :fetch_format=>:webp, :width=>100) if m.photo.key.present? %>');"></div>
      <div class="member-card-info">
        <h1 class="member-card-info__name"><span><%= m.academic_title if m.academic_title != '-' %></span> <%= full_name(m) %></h1>
        <div class="member-card-info__profession">
            <%= link_to "../specialitati-medicale/#{m.specialty.slug unless m.specialty.nil? }", aria_label: "#{full_name(m)}" do %>
              <p class="member-card__specialty-name"><%= m.profession.name %> <%= m.doctor_grade %> <%= m.specialty.name unless m.specialty.nil? %></p>
            <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
