<div class="member-card <%= not_animated %> <%= no_grid_area %>"
  style="transition: <%= i + 0.5 unless i.nil? %>s"
  data-controller="animation"
  data-action="scroll@window->animation#svgscroll"
  data-identity="<%= full_name(m) %>" data-profession="<%= m.profession.name %>" data-specialty="<%= m.specialty.name if m.specialty %>">
  <%= link_to colectiv_path(m.slug), id: m.slug do %>
    <%= render 'members/member_card_info', m: m %>
  <% end %>
</div>
