<%= content_for :meta_title, "#{@member.profession.name} #{full_name(@member)} - #{@member.specialty.name.downcase if @member.specialty} - Spinal Care" %>
<%= content_for :meta_description, "#{@member.profession.name} #{full_name(@member)} - #{@member.specialty.name.downcase if @member.specialty} la Spinal Care Bacău. #{@member.description.body}" %>
<div class="member-container">
  <div class="member-container__main" data-controller="bio">
    <%= render partial: "members/member_card", locals: {m: @member, i: nil, not_animated: 'not_animated', no_grid_area: nil} %>
    <div class="member-bio" data-bio-target="bio">
      <%= @member.description %>
    </div>
    <span id="member-bio__more" data-bio-target="more">⬇</span>
  </div>
  <%= image_tag('wave-home-page.svg', class: 'member-page-wave') %>
  <!-- <h1><%= full_name(@member) %></h1> -->
</div>