<%= content_for :meta_title, "#{@member.academic_title} #{@member.last_name} #{@member.profession_name} #{@member.doctor_grade}  #{@member.specialty.name.downcase if @member.specialty} Spinal Care" %>
<%= content_for :meta_description, "#{@member.profession.name} #{@member.doctor_grade} #{full_name(@member)} - #{@member.specialty.name.downcase if @member.specialty}  #{description_gsub(@member) unless @member.description.body.empty?}" %>
<%= content_for :meta_image, cl_image_path(@member.photo.key), :quality=>60, :fetch_format=>:webp, :width=>100 %>
<div class="member-container">
  <div class="member-container__main" data-controller="bio">
    <section>
      <%= render partial: "members/member_card", locals: {m: @member, i: nil, not_animated: 'not_animated', no_grid_area: nil} %>
      <%= action_btn %>
    </section>
    <% if @member.description.body.empty? %>
      <% nil %>
    <% else %>
      <div class="member-bio" data-bio-target="bio">
        <%= @member.description %>
      </div>
    <% end %>
    <span id="member-bio__more" data-bio-target="more">⬇</span>
  </div>
  <%= image_tag('wave-home-page.svg', class: 'member-page-wave', alt: 'spinal care wave') %>
  <!-- <h1><%= full_name(@member) %></h1> -->
</div>